apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  # stringData lets us type plain text, K8S will encode it to base64 for us
  postgres-password: "super-secret-password-123"
  postgres-user: "admin-user"
