apiVersion: v1
kind: Service
metadata:
  name: db-service # This name MUST match the hostname in your DATABASE_URL
spec:
  selector:
    app: postgres-db
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
